* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    /*font-family: 'neue-haas-grotesk-display', Arial, sans-serif;*/
    font-family: 'Helvetica Neue', sans-serif;
    font-family: 'Helvetica 25 UltraLight', sans-serif;
    font-family: 'Helvetica 35 Thin', sans-serif;
    font-family: 'Helvetica 45 Light', sans-serif;
    font-family: 'Helvetica 55 Roman', sans-serif;
    font-family: 'Helvetica 65 Medium', sans-serif;
}


/* navbar */
#main-body {
    background-color: #cccccd;
}

header {
    width: 100%;
    clear: both;
    display: table;
    content: '';
}

.menu {
    padding: 3rem 4%;
    margin: 0 auto;
    color: #ffffff;
    font-size: 1.3rem;
}

nav {
    float: right;
}

nav ul li {
    list-style: none;
    margin-left: 2rem;
    float: left;
    position: relative;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
}

nav ul li a::before {
    display: block;
    content: '';
    width: 0%;
    background: #ffffff;
    height: 5px;
    top: 30px;
    position: absolute;
}

nav ul li a:hover::before {
    width: 100%;
}

#logo {
    float: left;
    font-size: 2.6rem;
    font-weight: 100;
}